*, *::before, ::after{margin: 0;box-sizing:inherit;word-break:inherit }
ul,li{padding:0;list-style:none}
html, body{height: 100% }
body{font-size: 16px;line-height: 1.6;background:#fff;color:#121212;box-sizing:border-box;word-break:break-word;font-family:'Montserrat', sans-serif}